
prg/Build_Projeto.bat
*.~10~
prg/__history/Agenda.prg.~5~
prg/__history/Agenda.prg.~4~
prg/__history/Agenda.prg.~3~
prg/__history/Agenda.prg.~2~
prg/__history/Agenda.prg.~1~
prg/__history/Agenda.prg.~15~
prg/__history/Agenda.prg.~14~
prg/__history/Agenda.prg.~13~
prg/__history/Agenda.prg.~12~
prg/__history/Agenda.prg.~11~
obj/W32OLE_.obj
obj/W32OLE_.c
obj/Funcoes_Sql.obj
obj/Funcoes_Sql.c
obj/Funcoes_Diversas.obj
obj/Funcoes_Diversas.c
obj/Agenda.obj
obj/Agenda.c
prg/__history/Agenda.prg.~5~
prg/__history/Agenda.prg.~4~
prg/__history/Agenda.prg.~3~
prg/__history/Agenda.prg.~2~
prg/__history/Agenda.prg.~1~
obj/W32OLE_.obj
obj/W32OLE_.c
obj/Funcoes_Sql.obj
obj/Funcoes_Sql.c
obj/Funcoes_Diversas.obj
obj/Funcoes_Diversas.c
obj/Agenda.obj
obj/Agenda.c
